.correo{
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #8d99ae;
    display: block;

    
    
}
ion-button{
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 10px;
    
    
    --background: blue;
    color: yellow; 
}

h3{
    text-align: center;
}