.caja{
    display: flex;
    border-style: solid;
    border-radius: 20px;
    border-color: blue;
    margin-top: 10px;
    text-align: center;
    color: white;
}

.boton{
    margin-top: 10px;
    --background: blue;
    display: flex;
    color: white;
    
    
}

.my-custom-class{
    --background: red;
    --spinner-color: aqua;
  
    color: red;
}

.foto{
    position: relative;
}

.login{
    --background: #00afb9;
  }