.boton{
    display: grid;
    margin-top: 30px;
    margin-top: 10px;
    --background: blue;
    color: yellow;
    
}

h1{
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

.perfil{
    
    border-radius: 50%;
}

ion-content{
    --background: linear-gradient(
        0deg,
        hsl(240deg 100% 20%) 15%,
        hsl(52deg 43% 49%) 79%,
        hsl(55deg 100% 50%) 100%
      );
}