.boton{
    display: grid;
    margin-top: 30px;
    margin-top: 10px;
    --background: blue;
    color: yellow;
    
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}