.boton{
    display: grid;
    margin-top: 30px;
    margin-top: 10px;
    --background: blue;
    color: yellow;
    
}

h1{
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

.perfil{
    
    border-radius: 50%;
}

ion-content{
    --background: url(../../assets/87afd624742cab1602dddf926335682c.jpg);
  }