<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo">

<h1>Bienvenido Cristian</h1>

<ion-img class="perfil" src="http://www.veterinario24hmadrid.es/imagenipequena-veterinario-24-horas-Electrocucion-en-el-gato-Qu-e-hacer--194.jpg" > </ion-img>



<!-- <form>

  <ion-button class="boton">Comparte tu viaje</ion-button>
  <ion-button class="boton">Buscar tu viaje</ion-button>
</form> -->


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" ion-button [routerLink]="['/inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="car"></ion-icon>
      <ion-label>Organiza tu viaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
