h1{
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

ion-input{
    border-style: solid;
    border-color: #48cae4;
    margin-top: 30px;
    color: #03045e;
    font-size: large;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}